@font-face {
	font-family: 'Open Sans---Semi Bold';
	font-weight: 600;
	font-style: normal;
	src: url('Open Sans---Semi Bold.eot');
	src: local('Open Sans---Semi Bold'),local('Open Sans---Semi Bold'),
		url('Open Sans---Semi Bold.eot?#iefix') format('embedded-opentype'),
		url('Open Sans---Semi Bold.woff2') format('woff2'),
		url('Open Sans---Semi Bold.woff') format('woff'),
		url('Open Sans---Semi Bold.ttf') format('truetype'),
		url('Open Sans---Semi Bold.svg#Open Sans---Semi Bold') format('svg');
}
